
* {
  background-color: #073349; /*#050f25; */
  background-image: url("../images/universe.jpeg");
  background-position-x: center;
}

#start-game-button {
  border: 0;
  box-shadow: 0;
  background: linear-gradient(to bottom, #fb7e03,#fcb601);
  color: #fff;
  padding: 20px 40px;
  font-size: 30px;
  border-radius: 5px;
}

#hangman {
  text-align: center;
}

canvas {
  border-top: 2px dashed rgb(255,255,255,0.2);
  background-image: url("../images/universe.jpeg");
  background-size: 1300px 750px;
  background-position-x: center;
  max-width: 95vw;
  max-height: 95vh;
}